<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn More</title>

    <style>
      body {
        background-image: url('static/images/learn.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.75;
            }
</style>

</head>

<body>
    <h3> What is Postup </h3>
      <p> This is a light weight software application written and hosted by
        college student web developers and software engineers. It is intended to
        be used as a platform to boost exposure for a product or service. </p>

    <h3> Fully Automated </h3>
      <p> The days of Direct Messaging people to post on your behalf are over.
      Using APIs, we are able to automatically post to our Instagram, Facebook, or
    Twitter accounts when you submit an image and decription on our webpage.  </p>

    <h3> Support Small Business </h3>
      <p> Several large corporations have been caught copying indivduals' designs.
      It is time to stop purchasing from them and buy small. $50 goes a lot further
      for a small business!
     </p>

     <h3> Market Anything </h3>
       <p> This isn't limited for business. Boost a GoFundMe or share your art work!
      </p>

</body>
</html>