<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Falling Confetti</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/submitted.css">

</head>
<body>
  <h1>Congrats!</h1>
  <h3>Check to see if the image was successfully posted by following the link below</h3>
  <h5><a href="https://twitter.com/meriditech">Twitter</a></h5>
  <h6><a href="https://www.instagram.com/meriditech/">Instagram</a></h6>
  
<!-- partial:index.partial.html -->
<canvas id="world"></canvas>
<!-- partial -->
  <script  src="../static/javascript/submitted.js"></script>
</body>
</html>